################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
/VAPM-Scanner/src/AcmeScanner/license.cfg
/VAPM-Scanner/src/AcmeScanner/pass_key.txt
/simple-samples/vulnerability/scan3rdParty-cSharp/src/scan-vuln/obj/Debug
/simple-samples/vulnerability/scan3rdParty-cSharp/src/scan-vuln/bin/Debug
/simple-samples/vulnerability/scan3rdParty-cSharp/src/packages/Newtonsoft.Json.13.0.1
/simple-samples/vulnerability/scan3rdParty-cSharp/src/.vs/WindowsOfflinePatch/FileContentIndex
/simple-samples/vulnerability/scan3rdParty-cSharp/src/.vs/scan-vuln
/VAPM-Scanner/src/AcmeScanner/v4debug.txt
/VAPM-Scanner/bin
bin/
obj/
.vs/
/test.test
/temp
.DS_Store
