.browser-container {
	margin: 0px 40px 40px;
}
.select2-container {
	width: 220px;
}
#dateStr {
	color: #FFF;
    font-size: 14px;
    margin: 4px 10px 0 0;
}
#leftColTitle {
	margin: 0 20px 30px 0;
	border-bottom: solid 1px #DDD;
}
#modeTabs {
	width: 100%;
	margin-bottom: 0;
	margin-top: -47px;
}
#modeTabs > li {
	float: right;
}
.filter-input {
	float: right;
	margin-top: -44px;
	//margin-right: 268px;
	margin-right: 394px;
}
.product-list {
	margin: 0;
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	color: #000;
}
.product-list.advanced {
	display: table;
	width: 100%;
	padding-top: 12px;
}
#productContainer {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin-bottom: 15px;
	min-height: 500px;
	z-index: 0;
}
.def-container {
	padding: 25px;
}

.view-table {
	display: table;
	padding: 5px 0;
}
.view-table-row {
	display: table-row;
}
.view-table-row > p {
	display: table-cell;
	vertical-align: top;
	padding: 5px;
	color: #000;
	border-bottom: 2px solid white;
	border-top: 2px solid white;
}
.view-table-row > p.colored {
	background-color: #efefef;
}
.view-table-row > p:first-child {
	color: #808083;
	text-align: right;
	font-size: 14px;
}

.grid-elem {
	vertical-align: top;
	cursor: pointer;
	position: relative;
}
.grid-box {
	width: 140px;
	height: 140px;
	text-align: center;
	line-height: 140px;
	display: inline-block;
	margin: 10px;
	border-radius: 12px;
	border-radius:0px \0/; /* IE hack, no corners */
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border: 1px solid #FFF;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(219,219,219,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(219,219,219,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(219,219,219,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(219,219,219,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(219,219,219,1) 100%); /* IE10+ */
	background: linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(219,219,219,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dbdbdb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.grid-box > span {
	line-height: normal;
	vertical-align: middle;
	display: inline-block;
}
.grid-row {
	width: 220px;
	height: 30px;
	line-height: 30px;
	text-align: left;
	display: table-row;
	margin: 3px;
}
.grid-row > span {
	display: table-cell;
	padding: 0 6px;
	border-bottom: 5px #FFF solid;
}
.grid-row-head {
	color: #FFF;
	background: #808083;
}
.grid-row-background {
	position: absolute;
	left: 0;
	width: 100%;
	height: 30px;
	overflow: hidden;
	padding: 0 !important;
	margin: 0;
	z-index: -1;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(219,219,219,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(219,219,219,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(219,219,219,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(219,219,219,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(219,219,219,1) 100%); /* IE10+ */
	background: linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(219,219,219,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dbdbdb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.grid-highlight {
	color: #FFF;
	color: #000 \0/; /* IE hack, dont' switch*/
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(38, 114, 251, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(38, 114, 251, 1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(38, 114, 251, 1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(38, 114, 251, 1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(38, 114, 251, 1) 100%); /* IE10+ */
	background: linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(38, 114, 251, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#2672FB',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.grid-highlight .grid-vendor {
	color: #F4F4F4;
}
.grid-highlight.grid-row {
	color: #666;
	background: transparent;
}
.grid-highlight .grid-row-background {
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(38, 114, 251, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(38, 114, 251, 1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(38, 114, 251, 1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(38, 114, 251, 1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(38, 114, 251, 1) 100%); /* IE10+ */
	background: linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(38, 114, 251, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#2672FB',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#sortHeading {
	max-width:54%;
	font-size: 22px;
}

.product-overlay {
	width: 10px;
	height: 10px;
	z-index: 1001;
	/*position: absolute;*/
	border: 1px solid #FFF;
	-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
	background-color: #FFF;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	visibility: hidden;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
}
.product-overlay.expand {
	width: 100%;
	height: 100%;
	visibility: visible;
	left: 0 !important;
	top: 0 !important;
}
.product-overlay p.def-caption {
	color: #000;
	font-size: 23.5px;
	font-weight: bold;
}
.product-overlay .remove {
	float: right;
	font-size: 22px;
	margin: 3px 5px 0 0;
	cursor: pointer;
	z-index: 5;
	font-weight: bolder;
	font-family: Verdana;
	position: relative;
}
.product-overlay .remove:hover {
	color: #000;
}
.label {
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	color: #000;
}
.corner-highlight {
	background-color: #EEE;
	width: 30px;
	height: 30px;
	position: absolute;
	top: -1px;
	right: -1px;
	border-top-right-radius: 12px;
	z-index: 4;
}
a.crumb:hover {
	text-decoration: none;
}

.margin-cell{
	border-width: 0px;
	border-radius:0px;
	border-left-style: solid;
	border-left-width: 10px;
	border-left-color: white;
}

.method-meta.margin-cell{
	border-left-width: 25px;
}

.method-cell{
	display: table-cell;
	max-width: 300px;
}

.method-title{
	color:black;
	background-color: #EEE;
	margin:0px;
	margin-top:2px;
	border-top-color: white;
	border-top-width:2px;
	border-top-style: solid;
}

.method-title > label{
	padding:5px;
	font-size: 11px;
	margin:0px;
	border-width: 0px;
	border-style:solid;
	border-left-width: 4px;
	border-left-color: #2672FB;
}
.method-meta{
	padding:5px;
	background-color: #dedede;
}

/*parameter support styles*/
.parameters-support-label{
	font-size: 10px;
	padding-left:5px;
	padding-right:5px;
	margin: 0px;
	margin-left:5px;
	margin-right:5px;
	margin-top: 2px;
	color: #2672FB;
}

.parameters-support-cell {
	display: table-cell;
	max-width: 200px;
	padding-top:5px;
	padding-right:5px;
	background-color: #dedede;
	border-style:solid;
	border-width:0px;
	border-left-width:1px;
	border-left-color:#cfcfcf;
}

.param-support-marker-yes {
	border-width:0px;
	border-color: #74b211;
	border-left-width: 5px;
	border-left-style: solid;
	background-color: #EFEFEF;
	padding-left: 5px;
	margin-bottom:2px;
}

.param-support-marker-no {
	border-width:0px;
	border-color: #e82c0b;
	border-left-width: 5px;
	border-left-style: solid;
	background-color: #EFEFEF;
	color:#BBB;
	font-style: italic;
	padding-left: 5px;
	margin-bottom:2px;
}
/*
.param-support-marker-no {
	color:#BBB;
	font-style: italic;
	padding-left: 5px;
}*/

.param-string-values {
	padding-left:10px;
	font-size:10px;
}
/*admin required field*/
.admin-required{
	font-size:11px;
	color:#444;
	margin:0px;
	padding-left: 5px;
	padding-right: 5px;
}

.rtm-supported{
	font-size:11px;
	color:#444;
	margin:0px;
	padding-left: 5px;
	padding-right: 5px;
}
